@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.title-font {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
}

.img-shadow {
    box-shadow: 0px 0px 0px 0px rgba(9, 9, 11, 1) inset, 0px 0px 20px 0px rgba(9, 9, 11, 1) inset, 0px 0px 51px 61px rgba(9, 9, 11, 1) inset, 0px 0px 20px 0px rgba(9, 9, 11, 1) inset;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(9, 9, 11, 1) inset, 0px 0px 20px 0px rgba(9, 9, 11, 1) inset, 0px 0px 51px 61px rgba(9, 9, 11, 1) inset, 0px 0px 20px 0px rgba(9, 9, 11, 1) inset;
    -moz-box-shadow: 0px 0px 0px 0px rgba(9, 9, 11, 1) inset, 0px 0px 20px 0px rgba(9, 9, 11, 1) inset, 0px 0px 51px 61px rgba(9, 9, 11, 1) inset, 0px 0px 20px 0px rgba(9, 9, 11, 1) inset;
}
