<div class="container mt-6">
    <h1 class="font-[bolder] text-neutral-500">All Movies Of <span class="text-red-900">{{ castDetails?.name }}</span> ({{ casterMoviesCount}}) </h1>
    <div class="grid grid-cols-4 gap-2">
        <div class="grid grid-cols-1">
            <img [src]="imageUrlPoster + castDetails?.profile_path" class="rounded-md border" alt="" />
        </div>
        <div class=" col-span-3 grid grid-cols-6 gap-3">
            <ng-container *ngFor="let item of data">
                <app-listing *ngIf="item.poster_path" [item]="item" />
            </ng-container>
        </div>

    </div>

</div>